@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

.mainbody{
  height: 100svh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}

.main_title {
  display: flex;
  align-items: center;
  position: absolute;
  top: 5%;
  gap: 1rem;
}

.title {
  color: white;
  font-weight: 100;
  font-size: 3.5rem;
}

.tg {
  position: absolute;
  top: 90%;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.2s ease-in;
  border-radius: 50%;
}

.tg span{
  color: white;
  font-size: 0.9rem;
  font-weight: 100;
}

.mainbody h1{
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
}

.mainbody form{
  display: flex;
  gap: 2.5rem;
  align-items: center;
  padding: 1rem;
}

.mainbody form button{
  cursor: pointer;
  transition: all 0.2s ease-in;
  border-radius: 12px;
  padding: 10px;
  background-color: rgb(121, 138, 138);
  color: white;
  border: silver;
  box-shadow: 0px 0px 6px silver;
&:hover{
  box-shadow: 0px 0px 12px silver;
}}

.mainbody form input{
  padding: 10px;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 0px 6px silver;
  background-color: rgb(64, 71, 71);
  color: white;
  transition: all 0.2s ease-in;
  width: 200px;
}

*:focus {
  outline: none;
}

input:focus:valid {
  box-shadow: 0px 0px 12px silver;
}

.buttons_lang {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 10px;
}

.buttons_lang button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
&:hover{
  opacity: 0.8;
}}

.buttons_lang img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 10px;
}

.selected_lang{
  box-shadow: 0px 0px 6px grey;
}

.lds-roller {
  /* change color here */
  color: #1c4c5b
}
.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.like_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.like_section img{
  height: 30px;
  width: 30px;
  transition: all 0.2s ease-in;
&:hover{
  transform: rotate(15deg);
}}

.like_section button{
  cursor: pointer;
  border: none;
  background-color: transparent;
  border: 1px solid silver;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.like_section h5{
  color: rgb(207, 199, 199);
  font-weight: 100;
  font-size: 1rem;
}